body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* HEADER */
#hcorps {
    background-color: rgb(158, 150, 150);
    min-height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* LOGO */
#Logo {
    height: 50px;
}

/* NAVIGATION */
.liens {
    display: flex;
    gap: 40px;
}

.liens a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    position: relative;
    transition: 0.3s;
}

/* underline animé */
.liens a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #800020;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.liens a:hover::after {
    width: 100%;
}

.liens a:hover {
    color: #800020;
    transform: scale(1.1);
}

/* TITRE */
h1 {
    text-align: center;
    font-size: 50px;
}

@media (max-width: 768px) {

    #hcorps {
        flex-direction: column;
        padding: 15px;
        gap: 10px;
    }

    #Logo {
        height: 40px;
    }

    .liens {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .liens a {
        font-size: 20px;
    }

    h1 {
        font-size: 32px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    #Logo {
        height: 45px;
    }

    .liens {
        gap: 25px;
    }

    .liens a {
        font-size: 17px;
    }

    h1 {
        font-size: 40px;
    }
}
